body{
    background:#111;
    color:white;
    text-align:center;
    font-family:Arial;
}

#tela{
    margin-top:100px;
}

#titulo{
    font-size:32px;
}

.botoes{
    margin-top:50px;
}

button{
    padding:20px;
    margin:10px;
    font-size:20px;
    border-radius:10px;
}

@media (max-height: 768px) {
    .botoes{
        width: 100%;
        height: 100vh;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: center;
    }
    button{
        width: 40%;
        padding:10px;
        font-size:16px;
    }
}